*{
    box-sizing: border-box;
}
body{
    background-color: #ededed;
}
#page{
    display: flex;
    width: 1200px;
    height: 100vh;
    background-color: #505050;
    margin: auto;
    padding: auto;
}
aside{
    width: 290px;
    height: 100vh;
    background-color: #343434;
}
nav{
    width: 290px;
    height: 50%;
    background-color: #242726;
    border-bottom: 5px solid #efefef;
    border-right: 5px solid #efefef;
    flex: auto;
}
#tasks-list{
    width: 290px;
    height: 50%;
    background-color: #242726;
    border-right: 5px solid #efefef;
}
main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 910px;
    height: 100vh;
    background-color: #2e3233;
}
#button{
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: auto;
}