*{
    box-sizing: border-box;
}
body{
    background-color: #ededed;
}
#page{
    display: flex;
    width: 1000px;
    min-height: 1000px;
    background-color: #505050;
    margin: auto;
    padding: auto;
}
aside{
    width: 340px;
    height: 1000px;
    background-color: #343434;
}
main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 1000px;
    background-color: #444444;
}
#button{
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: auto;
}